@import '../../core/layout/variables';

.admin-form {
  max-width: 500px;
  margin: 50px auto;
  background: rgb(231, 231, 231);
  border-radius: 12px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;

  h2 {
    color: #F2613F;
    margin-bottom: 20px;
    text-align: center;
  }

  label {
    font-size: 13px;
    color: #666;
    display: block;
    margin-bottom: 5px;
  }

  > div {
    margin-bottom: 15px;
  }

  button[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: $accent-color;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      background: $tertiary-color;
    }
  }

  button[type="button"] {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #95a5a6;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      background: #7f8c8d;
    }
  }
}

.input-with-icon {
  position: relative;
  display: flex;  
  align-items: center;  


  input, select {
    width: 100%;
    padding: 14px 14px 14px 40px;
    border: 1px solid #ccc;
    border-radius: 6px;

    &:focus {
      outline: none;
      border-color: $accent-color;
      box-shadow: 0 0 0 2px rgba(242, 97, 63, 0.15);
    }
  }

  .material-symbols-outlined {
    position: absolute;
    left: 10px;
    bottom: 16px;
    color: #999;
    font-size: 20px;
  }
}

.error-message {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 5px;
}

.success-message {
  color: #27ae60;
  padding: 10px;
  margin-bottom: 16px;
  background: #d4edda;
  border-radius: 6px;
  text-align: center;
}