@import '../../core/layout/_variables';

* {
  box-sizing: border-box;
  font-family: $main-font;
}

// Glavni wrapper za login formu
.login-form {
  display: flex;
  width: 800px;
  height: 500px;
  background: rgb(231, 231, 231);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
}
h1 {
  margin-bottom: 15px;
  font-size: 26px;
  color: #F2613F;
  text-align: center;;
}

.image-left {
  flex: 1;
  background-image: url('../../core/images/burger-image.png');
  background-size: cover;
  background-position: center;
}

// Forma
form {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    margin-bottom: 20px;
    font-size: $font-size-large;
    color: $text-color-dark;
  }

  > div {
    margin-bottom: 5px;

    label {
      font-size: 13px;
      color: #dedede00;
    }
  }

  button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    background: $accent-color;
    color: $text-color-light;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;

    &:hover {
      background: $tertiary-color;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

// Input sa ikonom
.input-with-icon {
  position: relative;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.2s, box-shadow 0.2s;

    &:focus {
      outline: none;
      border-color: $accent-color;
      box-shadow: 0 0 0 2px rgba(242, 97, 63, 0.15);
    }
  }

  .material-symbols-outlined {
    position: absolute;
    left: 5px;
    font-size: 20px;
    color: #e3e3e3;
    bottom: 17px;
  }
}

// Error poruke
.error-message {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

@include responsive($breakpoint-medium) {
  .login-form {
    flex-direction: column;
    width: 90%;
    height: auto;

    .image-left {
      display: none;
    }

    form {
      h2 {
        font-size: $font-size-medium;
      }
    }
  }
}