$primary-color: #0C0C0C;           
$secondary-color: #481E14;         
$tertiary-color: #9B3922;          
$accent-color: #F2613F;
$background-color: #0C0C0C;

$text-color-light: #ffffff;
$text-color-dark: #0C0C0C;

$background-transparent: rgba(12, 12, 12, 0.7);
$light-transparent: rgba(256, 256, 256, 0.7);

$font-size-small: 16px;
$font-size-medium: 24px;
$font-size-large: 28px;
$font-size-extra-large: 34px;

$main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", sans-serif;

$breakpoint-extra-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;

@mixin responsive($max-screen-size) {
  @media (max-width: $max-screen-size) {
    @content;
  }
}